<div class="container">

  <div class="row">
                         
        <div class="col-md-12">
                    <h1  class="text-center">Sandwhichs!!!</h1>  
        </div>

        
  </div>

  <div class="row">

      <div class="col-md-5">
                    
      </div>

      <div class="col-md-4" > 
         <button class="eat_it" data-id="{{id}}" data-newsleep="{{sleep}}">
		            Eat a Sandwhich
          	</button>
      </div>

    



  </div>

<!-- 
 {{#users}} 
        <tr> 
            <td>{{fullName person}}</td> 
            <td>{{jobTitle}}</td> 
            <td><a href="https://twitter.com/{{twitter}}">@{{twitter}}</a></td> 
        </tr> 
        {{/users}}

                      <td> 
                     {{#unless devoured}}
                     
                      {{> sandwhich/sand-block devoured=true}}
                   
                        {{/unless}}
                     </td>


          <td>
             {{#unless devoured}}
                     
                  {{this}}
                   
              {{/unless}}
                        
           </td>





  -->


  <div class="row">
      <div class="col-md-5" > 

                  <h2>Sandwhichs to be eaten</h2>

          
        
        <table class="table">

                
                  <div>
                  <thead>
                      <tr>
                        <th>
                          ID
                        </th>
                        <th>
                           Name
                       </th>

                       <th>
                          ActiveYN
                        </th>
                      </tr>
                    </thead>
                  <tbody id="table">
                  {{#each sandwhich}}
                  <tr>
                    {{#each this}}
                      <td>

                        {{#unless devoured}}
                     
                        {{this}}
                   
                        {{/unless}}
                        
                        </td>
                     
                     
                     
                     {{/each}}
                   
                    
                  </tr>
                  {{/each}}
                  
                </tbody>

            </div>

          </table>
     </div>


        <div class="col-md-2" > 
         
          </div>

        <div class="col-md-5" > 


            <h2>Sandwhichs that you have ate</h2>

            
              {{#each sandwhich}}
                {{#if devoured}}
                  {{> sandwhich/sand-block devoured=false}}
                {{/if}}
              {{/each}}
           
            </div>

            </div>

  <div class="row">
        <div class="col-md-5" >    
        </div>
                   
        <div class="col-md-4" >
            <h2>Add a Sandwhich</h2>
          <form class="create-form">

           <div class="form-group">
              <label for="sa">Sandwhich:</label>
               <input type="text" id="sa" name="name">
            </div>

            <button type="submit">Add a Sandwhich</button>

          </form>        
                    


        </div>

        
  </div>




</div>